# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv

# dbt
target/
dbt_packages/
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# OS
.DS_Store
*.log

# Database
*.db
*.sqlite

# Data (não versionam)
dados_originais/
dados_ajustados/
archive.zip

