sertao_olist:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: postgres
      password: postgres
      dbname: olist
      schema: public
      port: 5433
      threads: 1
      keepalives_idle: 0
